@page
@model LionPetManagement_DoanNgocTrung.Pages.LionProfiles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div id="deleteSuccessAlert" class="alert alert-success" style="display:none;" role="alert">
    LionProfile deleted with Synalr successfully!
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LionProfile</h4>
    <hr />
    <dl class="row" id="lionProfileId">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.LionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.LionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Characteristics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Characteristics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Warning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Warning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.LionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.LionType.LionTypeId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="LionProfile.LionProfileId" />
        <input type="button" id="btnHubDelete" value="Delete by SignalRHub" class="btn btn-primary" /> |
        <a asp-page="./Index">Back to List</a>

        @*NO SYNALR *@
        @*<input type="submit" value="Delete" class="btn btn-danger" /> |*@ 
    </form>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/LionProfileHub").build();

    connection.start().then(function () {
        console.log("Connected to the SignalR Hub");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("btnHubDelete").addEventListener("click", function (event) {

        var dataObj = document.getElementById("LionProfile_LionProfileId").value; //lấy id hidden thêm _ ở giữa thay vì dấu chấm
        console.log(dataObj);

        connection.invoke("HubDelete_LionProfile", dataObj) 
        .then(function () {
                document.getElementById("deleteSuccessAlert").style.display = "block";
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });

</script>
