@page
@model LionPetManagement_DoanNgocTrung.Pages.LionProfiles.DetailModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<div>
    <h4>LionProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.LionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.LionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Characteristics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Characteristics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.Warning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.Warning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LionProfile.LionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LionProfile.LionType.LionTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LionProfile.LionProfileId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
