@page "/MedicineInformation/Details"
@model PharmaceuticalManagement_KhiemNVD.Pages.MedicineInfo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicineInformation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInformation.MedicineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInformation.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInformation.ActiveIngredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInformation.ActiveIngredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInformation.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInformation.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInformation.DosageForm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInformation.DosageForm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInformation.WarningsAndPrecautions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInformation.WarningsAndPrecautions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInformation.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInformation.Manufacturer.ManufacturerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicineInformation.MedicineId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
